In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Salary_dataset.csv")

In [3]:
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [4]:
df=df.iloc[:,1:]

In [5]:
df.shape

(30, 2)

In [6]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.413333   76004.000000
std           2.837888   27414.429785
min           1.200000   37732.000000
25%           3.300000   56721.750000
50%           4.800000   65238.000000
75%           7.800000  100545.750000
max          10.600000  122392.000000

In [65]:
X = df.iloc[:,0:1].values
y = df.iloc[:,-1].values

In [67]:
X

array([[ 1.2],
       [ 1.4],
       [ 1.6],
       [ 2.1],
       [ 2.3],
       [ 3. ],
       [ 3.1],
       [ 3.3],
       [ 3.3],
       [ 3.8],
       [ 4. ],
       [ 4.1],
       [ 4.1],
       [ 4.2],
       [ 4.6],
       [ 5. ],
       [ 5.2],
       [ 5.4],
       [ 6. ],
       [ 6.1],
       [ 6.9],
       [ 7.2],
       [ 8. ],
       [ 8.3],
       [ 8.8],
       [ 9.1],
       [ 9.6],
       [ 9.7],
       [10.4],
       [10.6]])

In [66]:
y

array([ 39344.,  46206.,  37732.,  43526.,  39892.,  56643.,  60151.,
        54446.,  64446.,  57190.,  63219.,  55795.,  56958.,  57082.,
        61112.,  67939.,  66030.,  83089.,  81364.,  93941.,  91739.,
        98274., 101303., 113813., 109432., 105583., 116970., 112636.,
       122392., 121873.])

In [ ]:
#using ordinary Lease square we will calculate m and b

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [70]:
type(X_train)

numpy.ndarray

In [ ]:
#writting own rdinary Least square class

In [72]:
class OlsMLRegression:
    def __init__(self):
        self.m=0
        self.b=0
    def SimpleReg(self,X_train,y_train):
        num=0
        den=0
        for i in range(X_train.shape[0]):
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b) 

    
    def predict(self,X_test):
        
        print(X_test)
        return self.m * X_test + self.b

In [73]:
lr=OlsMLRegression()

In [74]:
lr.SimpleReg(X_train,y_train)

[9569.58688543]
[23437.21046341]

In [79]:
#my Predicted Y values using Linear regression
y_pred=lr.predict(X_test)
y_pred

[[1.4]
 [1.2]
 [4.6]
 [3.8]
 [7.2]
 [6.1]]

array([[36834.63210301],
       [34920.71472592],
       [67457.3101364 ],
       [59801.64062805],
       [92338.23603852],
       [81811.69046455]])

In [78]:
y_test

array([46206., 39344., 61112., 57190., 98274., 93941.])